<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Urban Space Occupancy Analysis</h1>
	</div>
	<!-- /.col-lg-12 -->
	<div class="col-lg-12">	
		<h3>Overview</h3>
		<p>
			This is a ECE Senior project on IoT and data analytics. The experiment intends to give an analytical synthesis of human behaviour in a given space and time. 3 motion sensors were installed in 3 spaces - Rooms ( Hall, Master, Guest )
			<div class="col-lg-6">
				<div class="panel-body">
					<div class="table-responsive">	
						<h3>Hardware</h3>
						<p>
							<ul>
								<li>Motion Sensors (3)</li>
								<li>Raspberry Pi 3 - Model B (1)</li>
								<li>24 Volt Power Supply</li>
								<li>Network Cable </li>
								<li>Router</li>
								<li>PC</li>
							</ul>
						</p>
					</div>
				</div>
				</div>	
				<div class="col-lg-6">
				<div class="panel-body">
					<div class="table-responsive">	
					<h3>Software</h3>								
						<p>
							<ul>
								<li>Rasbian Ubuntu OS</li>
								<li>Java 7</li>
								<li>Eclipse IDE</li>
								<li>Tomcat Application Server 7</li>
								<li>Mongo DB</li>
								<li>MongoChef IDE</li>
								<li>NPM</li>
								<li>Node Js</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		
			<br/>
		  The project holds 3 major stages.
		  <ol>
			<li><strong>Data Collection</strong>
				<p>
					The Sensor component - ( JAVA ) sits on an Application Server and listens to the Raspberry pi GPIO pins using the pi4j API. The sensor data is saved in to MongoDB. This data collectively provides an analytical representation of the data collected over a considerable period of time.
				</p>
				<ul>
					<li>Motion Sensor to Raspberry Pi</li>
					<li>MongoDB Data Storage</li>
				</ul>
				<br/>
				<br/>
				<img src="resources/images/pi_wiring.png" style="width: 400px; heigh: 400px;"/><br/><br/>
				<strong><i>Circuit Diagram</strong></i><br/><br/>
			</li>
			<li><strong>Data Analysis</strong><br/>
				<p>
					Map Reduce is an algorithm to process huge volumes of data. The entire data process in basically broken into 2 steps.<br/> 
					<strong>MAP Step</strong> - In this stage the data is grouped per day.<br/>
					<strong>Reduce Step</strong> - In this stage the value is summed for each day.<br/>
					The Map Reduce process is repeated for each of the sensors for the entire data base.					
					<div class="panel-body">
						<div class="table-responsive">
							<span style="font-size: 12px;">
								For example let us consider the following set of data for a particular Sensor id : <strong>HALL_SENSOR</strong>
							</span>						
							<table class="table" style="font-size: 12px;">
								<thead>
									<tr>
										<th>#</th>
										<th>Sensor Id</th>
										<th>Day</th>
										<th>Time</th>
									</tr>
								</thead>
								<tbody>
									<tr class="success">
										<td>1</td>
										<td>HALL_SENSOR</td>
										<td>Sunday</td>
										<td>12:20:000</td>
									</tr>
									<tr class="info">
										<td>2</td>
										<td>HALL_SENSOR</td>
										<td>Sunday</td>
										<td>17:50:000</td>
									</tr>
									<tr class="warning">
										<td>3</td>
										<td>HALL_SENSOR</td>
										<td>Monday</td>
										<td>22:32:000</td>
									</tr>
									<tr class="danger">
										<td>4</td>
										<td>HALL_SENSOR</td>
										<td>Tuesday</td>
										<td>11:10:000</td>
									</tr>
									<tr class="success">
										<td>5</td>
										<td>HALL_SENSOR</td>
										<td>Tuesday</td>
										<td>12:22:000</td>
									</tr>								
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<div class="row">
						<div class="col-lg-6">
							<div class="panel-body">
								<div class="table-responsive">	
								<h3>
									Mapped Data - (Step 1)
								</h3>
								<table class="table" style="font-size: 12px;">
									<thead>
										<tr>
											<th>Day</th>
											<th>Value Array</th>
										</tr>
									</thead>
									<tbody>
										<tr class="info">
											<td>Sunday</td>
											<td>[1, 1]</td>
										</tr>
										<tr class="info">
											<td>Monday</td>
											<td>[1]</td>
										</tr>
										<tr class="info">
											<td>Tuesday</td>
											<td>[1, 1]</td>
										</tr>
									</tbody>
								</table>
								</div>
							</div>
							</div>	
							<div class="col-lg-6">
							<div class="panel-body">
								<div class="table-responsive">	
								<h3>
									Reduced Data - (Step 2)
								</h3>								
								<table class="table" style="font-size: 12px;">
									<thead>
										<tr>
											<th>Day</th>
											<th>Value - Sum</th>
										</tr>
									</thead>
									<tbody>
										<tr class="success">
											<td>Sunday</td>
											<td>2</td>
										</tr>
										<tr class="success">
											<td>Monday</td>
											<td>1</td>
										</tr>
										<tr class="success">
											<td>Tuesday</td>
											<td>2</td>
										</tr>
									</tbody>
								</table>
								</div>
							</div>
						</div>
					</div>							
				</p>				
			</li>
			<li><strong>Web Based Display</strong></li>	
				<p>
					The UI is built on Bootstrap Framework, ANgular JS running on Node.JS. The Application has MongoDB based security management. The Processed data is presented in the form of 2 charts
				</p>
				<ul>
					<li>
						<strong>Daily View</strong>
						<p>
							Occupancy volume per day in a week. This is displayed for each of Sensors.
						</p>
					</li>
					<li>
						<strong>Over all View</strong>
						<p>
							Over all Occupancy volume across all the sensors.<br/>
							<a href="charts" target="_blank"><i class="fa fa-share fa-fw "></i>View Charts</a>
						</p>
					</li>				
				</ul>
		  </ol>
			<p>
				The Project is managed and maintained in GitHub publicly. The repository handles are as follows.
			</p>		  
			<ul>
				<li><a href="https://github.com/hitdataexp" target="_blank"><i class="fa  fa-github-alt fa-fw "></i> GitHub Link</a></li>
			</ul>		  
		</p>

	</div>
</div>