
  <span class="label label-default">
	<strong>Source Id:</strong> {{sourceid}}
	|
	<strong>Date:</strong> {{date}}
  </span> 
  <span><span class="label label-{{status}}">{{statustxt}}</span></span>
<div class="btn-xs">  
  <table class="table">
	<thead>
	  <tr>
		<th>Environment</th>
		<th>AL Id</th>
		<th>AL Message Id</th>
		<th>Component Id</th>
		<th>App Short Name</th>
		<th>EDI</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
		<td>IIB<br/>WESB</td>
		<td>{{iibAuditLogId}}<br/>{{wesbAuditLogId}}</td>
		<td>{{iibMessageId}}<br/>{{wesbMessageId}}</td>
		<td>{{iibComponentId}}<br/>{{wesbComponentId}}</td>
		<td>{{iibApplicationName}}<br/>{{wesbApplicationName}}</td>
		<td>
			<textarea style="width:500px; height: 30px; border: 1px solid #e6e6ff; font-size: 10px; background-color:#e6e6ff;">{{iibEdi}}</textarea><br/>
			<textarea style="width:500px; height: 30px; border: 1px solid #e6e6ff; font-size: 10px;">{{wesbEdi}}</textarea>
		</td>
	  </tr>		  
	</tbody>
  </table>	
</div>    